body{
    background-color: antiquewhite;

}
h1{ 
    margin-top: auto;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align:center;



}
h2 {
    margin-top: auto;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align:center;
}


header {
    display: block; /* This is the default, not needed */
    text-align: center;
    top: 0;
    float: left;
    padding-left: 40px;
  }
  img {
   width: 200px;
    text-align: center;
    top: 0; /* Not needed... */
    float: left;
    padding-left: 40px;
  }
  
 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



.Topic {
    padding: 100px;
    text-align: center;
    background:antiquewhite;
    font-size: 70px;
    -webkit-text-fill-color: #b65b00;
    
  }




p{ 
font-size: 20px;





}

  nav{
    text-align: center;
    width:100%;
    height: 60px;
    background-color:antiquewhite;
    
    
}

nav p {
    
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}


nav ul { 
    
    margin: 0 auto;
    
    text-align: center;
}



nav ul li { 
   
    list-style: none;
    position: relative;
    display: inline-block; 

}

nav ul li a { 
    
    display: block;
    font-family: arial;
    color: #222;
    font-size: 15px;
    padding: 22px 14px;
    text-decoration: none;
   
}

nav ul li ul { 
    display: none;
    position:absolute;
    background-color: #fff;
    padding: 15px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul { 
    display: block;
    
}

nav ul li ul li { 
    width: 110px;
    border-radius: 3px;
    text-align:center;
}

nav ul li ul li ul a {  
    align-content: center;


}


nav ul li ul li a { margin-right: 40%;
    padding: 7px 14px;
    }

nav ul li ul li a:hover  { background-color: #f3f3f3 ;}

.logo{
    background: url("/path") no-repeat; 
         width: 100px; 
         height: 100px; 
         display: block; 
         text-indent: -9999px;
}